
#ads{
   position: absolute;
   top: 100%;
   left: 0px;
    background-size: 100%;
    cursor: pointer;
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
}

body
{
   background-color: #202020;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow: hidden;
}
canvas {
         position: absolute;
         overflow: hidden;
        width: 100%;
        height: 100%;
        display: block;
      }
#Layer1
{
   background-color: transparent;
   background-image: url(images/default.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
  
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#Layer2
{
   background-color: transparent;
}
#Layer3
{
   background-color: transparent;
}
#Layer4
{
   background-color: transparent;
}
#RollOver1 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver1 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver1 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver1 a .hover
{
   visibility: hidden;
}
#RollOver1 a:hover .hover
{
   visibility: visible;
}
#RollOver1 a:hover span
{
   visibility: hidden;
}
#RollOver1 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver2 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver2 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver2 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver2 a .hover
{
   visibility: hidden;
}
#RollOver2 a:hover .hover
{
   visibility: visible;
}
#RollOver2 a:hover span
{
   visibility: hidden;
}
#RollOver2 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver3 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver3 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver3 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver3 a .hover
{
   visibility: hidden;
}
#RollOver3 a:hover .hover
{
   visibility: visible;
}
#RollOver3 a:hover span
{
   visibility: hidden;
}
#RollOver3 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver4 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver4 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver4 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver4 a .hover
{
   visibility: hidden;
}
#RollOver4 a:hover .hover
{
   visibility: visible;
}
#RollOver4 a:hover span
{
   visibility: hidden;
}
#RollOver4 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer5
{
   background-color: transparent;
   background-image: url(images/default.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#Layer7
{
   background-color: transparent;
}
#wb_Text7 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text8 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#Layer8
{
   background-color: transparent;
}
#wb_Text9 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#RollOver5 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver5 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver5 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver5 a .hover
{
   visibility: hidden;
}
#RollOver5 a:hover .hover
{
   visibility: visible;
}
#RollOver5 a:hover span
{
   visibility: hidden;
}
#RollOver5 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver6 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver6 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver6 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver6 a .hover
{
   visibility: hidden;
}
#RollOver6 a:hover .hover
{
   visibility: visible;
}
#RollOver6 a:hover span
{
   visibility: hidden;
}
#RollOver6 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver7 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver7 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver7 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver7 a .hover
{
   visibility: hidden;
}
#RollOver7 a:hover .hover
{
   visibility: visible;
}
#RollOver7 a:hover span
{
   visibility: hidden;
}
#RollOver7 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver8 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver8 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver8 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver8 a .hover
{
   visibility: hidden;
}
#RollOver8 a:hover .hover
{
   visibility: visible;
}
#RollOver8 a:hover span
{
   visibility: hidden;
}
#RollOver8 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer6
{
   background-color: transparent;
   background-image: url(images/default.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#wb_Text6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#Layer10
{
   background-color: transparent;
}
#wb_Text11 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#Layer11
{
   background-color: transparent;
}
#wb_Text13 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_Text14 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#RollOver9 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver9 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver9 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver9 a .hover
{
   visibility: hidden;
}
#RollOver9 a:hover .hover
{
   visibility: visible;
}
#RollOver9 a:hover span
{
   visibility: hidden;
}
#RollOver9 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver10 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver10 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver10 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver10 a .hover
{
   visibility: hidden;
}
#RollOver10 a:hover .hover
{
   visibility: visible;
}
#RollOver10 a:hover span
{
   visibility: hidden;
}
#RollOver10 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver11 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver11 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver11 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver11 a .hover
{
   visibility: hidden;
}
#RollOver11 a:hover .hover
{
   visibility: visible;
}
#RollOver11 a:hover span
{
   visibility: hidden;
}
#RollOver11 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver12 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver12 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver12 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver12 a .hover
{
   visibility: hidden;
}
#RollOver12 a:hover .hover
{
   visibility: visible;
}
#RollOver12 a:hover span
{
   visibility: hidden;
}
#RollOver12 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer9
{
   background-color: transparent;
   background-image: url(images/default.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#Layer12
{
   background-color: transparent;
}
#wb_Text15 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Text16 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
}
#Layer13
{
   background-color: transparent;
}
#wb_Text17 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text17 div
{
   text-align: left;
}
#wb_Text18 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text18 div
{
   text-align: left;
}
#RollOver13 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver13 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver13 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver13 a .hover
{
   visibility: hidden;
}
#RollOver13 a:hover .hover
{
   visibility: visible;
}
#RollOver13 a:hover span
{
   visibility: hidden;
}
#RollOver13 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver14 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver14 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver14 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver14 a .hover
{
   visibility: hidden;
}
#RollOver14 a:hover .hover
{
   visibility: visible;
}
#RollOver14 a:hover span
{
   visibility: hidden;
}
#RollOver14 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver15 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver15 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver15 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver15 a .hover
{
   visibility: hidden;
}
#RollOver15 a:hover .hover
{
   visibility: visible;
}
#RollOver15 a:hover span
{
   visibility: hidden;
}
#RollOver15 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver16 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver16 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver16 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver16 a .hover
{
   visibility: hidden;
}
#RollOver16 a:hover .hover
{
   visibility: visible;
}
#RollOver16 a:hover span
{
   visibility: hidden;
}
#RollOver16 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer14
{
   background-color: transparent;
}
#wb_Text19 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text19 div
{
   text-align: left;
}
#Layer15
{
   background-color: transparent;
   background-image: url(images/default.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#Layer16
{
   background-color: transparent;
}
#wb_Text20 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text20 div
{
   text-align: left;
}
#wb_Text21 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text21 div
{
   text-align: left;
}
#Layer17
{
   background-color: transparent;
}
#wb_Text22 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text22 div
{
   text-align: left;
}
#wb_Text23 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text23 div
{
   text-align: left;
}
#RollOver17 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver17 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver17 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver17 a .hover
{
   visibility: hidden;
}
#RollOver17 a:hover .hover
{
   visibility: visible;
}
#RollOver17 a:hover span
{
   visibility: hidden;
}
#RollOver17 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver18 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver18 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver18 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver18 a .hover
{
   visibility: hidden;
}
#RollOver18 a:hover .hover
{
   visibility: visible;
}
#RollOver18 a:hover span
{
   visibility: hidden;
}
#RollOver18 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver19 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver19 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver19 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver19 a .hover
{
   visibility: hidden;
}
#RollOver19 a:hover .hover
{
   visibility: visible;
}
#RollOver19 a:hover span
{
   visibility: hidden;
}
#RollOver19 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver20 a
{
   display: block;
   position: relative;
   height: 100%;
   width: 100%;
}
#RollOver20 a img
{
   position: absolute;
   z-index: 1;
   border-width: 0;
}
#RollOver20 span
{
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   z-index: 2;
}
#RollOver20 a .hover
{
   visibility: hidden;
}
#RollOver20 a:hover .hover
{
   visibility: visible;
}
#RollOver20 a:hover span
{
   visibility: hidden;
}
#RollOver20 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#RollOver18
{
   position: absolute;
   left: 91px;
   top: 176px;
   overflow: hidden;
   visibility: hidden;
   width: 25px;
   height: 25px;
   z-index: 78;
}
#wb_Text19
{
   position: absolute;
   left: 389px;
   top: 45px;
   width: 188px;
   height: 56px;
   visibility: hidden;
   z-index: 60;
   text-align: left;
}
#RollOver3
{
   position: absolute;
  right: 50px ;
  top: 217px ;
   overflow: hidden;
   width: 33px;
   height: 32px;
   z-index: 7;
}
#RollOver19
{
   position: absolute;
   left: 150px;
   top: 176px;
   overflow: hidden;
   visibility: hidden;
   width: 25px;
   height: 25px;
   z-index: 79;
}
#RollOver4
{
   position: absolute;
   right: 50px;
   top: 266px;
   overflow: hidden;
   width: 33px;
   height: 32px;
   z-index: 8;
}
#wb_Text1
{
   position: absolute;
   left: 63px;
   top: 101px;
   width: 250px;
   height: 102px;
   z-index: 4;
   text-align: left;
}
#RollOver5
{
   position: absolute;
   left: 86px;
   bottom: 4px;
   overflow: hidden;
   visibility: hidden;
   width: 33px;
   height: 32px;
   z-index: 28;
}
#wb_Text2
{
   position: absolute;
   left: 63px;
   top: 210px;
   width: 325px;
   height: 36px;
   z-index: 3;
   text-align: left;
}
#RollOver6
{
   position: absolute;
   left: 137px;
   bottom: 4px;
   overflow: hidden;
   visibility: hidden;
   width: 33px;
   height: 32px;
   z-index: 29;
}
#wb_Text3
{
   position: absolute;
   left: 63px;
   top: 72px;
   width: 325px;
   height: 15px;
   z-index: 1;
   text-align: left;
}
#Layer10
{
   position: absolute;
   text-align: left;
   visibility: hidden;
   left: 0px;
   top: 544px;
   width: 687px;
   height: 222px;
   z-index: 41;
}
#RollOver7
{
   position: absolute;
   left: 195px;
   bottom: 4px;
   overflow: hidden;
   visibility: hidden;
   width: 33px;
   height: 32px;
   z-index: 30;
}
#wb_Text4
{
   position: absolute;
   left: 63px;
   top: 96px;
   width: 160px;
   height: 30px;
   z-index: 2;
   text-align: left;
}
#Layer1
{
   position: fixed;
   text-align: left;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 91;
}
#Layer11
{
   position: absolute;
   text-align: left;
   visibility: hidden;
   left: 0px;
   top: 0px;
   width: 687px;
   height: 350px;
   z-index: 42;
}
#RollOver8
{
   position: absolute;
   right: 50px;
   bottom: 4px;
   overflow: hidden;
   visibility: hidden;
   width: 33px;
   height: 32px;
   z-index: 31;
}
#wb_Text5
{
   position: absolute;
   left: 389px;
   top: 45px;
   width: 210px;
   height: 56px;
   z-index: 0;
   text-align: left;
}
#Layer2
{
   position: absolute;
   text-align: left;
   left: 675px;
   top: 544px;
   width: 605px;
   height: 222px;
   z-index: 9;
}
#Layer12
{
   position: absolute;
   text-align: left;
   visibility: hidden;
   left: 0px;
   top: 437px;
   width: 294px;
   height: 142px;
   z-index: 61;
}
#RollOver9
{
   position: absolute;
   left: 86px;
   bottom: 4px;
   overflow: hidden;
   visibility: hidden;
   width: 33px;
   height: 32px;
   z-index: 37;
}
#wb_Text6
{
   position: absolute;
   left: 1064px;
   top: 45px;
   width: 188px;
   height: 56px;
   visibility: hidden;
   z-index: 34;
   text-align: left;
}
#Layer3
{
   position: absolute;
   text-align: left;
   left: 0px;
   top: 544px;
   width: 687px;
   height: 222px;
   z-index: 10;
}
#wb_Text20
{
   position: absolute;
   left: 19px;
   top: 52px;
   width: 240px;
   height: 30px;
   visibility: hidden;
   z-index: 73;
   text-align: left;
}
#Layer13
{
   position: absolute;
   text-align: left;
   visibility: hidden;
   left: 0px;
   top: 0px;
   width: 295px;
   height: 218px;
   z-index: 62;
}
#wb_Text7
{
   position: absolute;
   left: 63px;
   top: 72px;
   width: 325px;
   height: 15px;
   visibility: hidden;
   z-index: 21;
   text-align: left;
}
#Layer4
{
   position: absolute;
   text-align: left;
   left: 0px;
   top: 0px;
   width: 687px;
   height: 350px;
   z-index: 11;
}
#RollOver20
{
   position: absolute;
   left: 207px;
   top: 176px;
   overflow: hidden;
   visibility: hidden;
   width: 25px;
   height: 25px;
   z-index: 80;
}
#wb_Text21
{
   position: absolute;
   left: 20px;
   top: 88px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   z-index: 74;
   text-align: left;
}
#Layer14
{
   position: absolute;
   text-align: left;
   visibility: hidden;
   left: 560px;
   top: 496px;
   width: 605px;
   height: 222px;
   z-index: 63;
}
#wb_Text10
{
   position: absolute;
   left: 63px;
   top: 101px;
   width: 250px;
   height: 102px;
   visibility: hidden;
   z-index: 27;
   text-align: left;
}
#wb_Text8
{
   position: absolute;
   left: 63px;
   top: 96px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   z-index: 22;
   text-align: left;
}
#Layer5
{
   position: fixed;
   text-align: left;
   visibility: hidden;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 92;
}
#wb_Text22
{
   position: absolute;
   left: 20px;
   top: 110px;
   width: 271px;
   height: 32px;
   visibility: hidden;
   z-index: 75;
   text-align: left;
}
#Layer15
{
   position: fixed;
   text-align: left;
   visibility: hidden;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 96;
}
#RollOver10
{
   position: absolute;
   left: 137px;
   bottom: 4px;
   overflow: hidden;
   visibility: hidden;
   width: 33px;
   height: 32px;
   z-index: 38;
}
#wb_Text11
{
   position: absolute;
   left: 63px;
   top: 72px;
   width: 325px;
   height: 15px;
   visibility: hidden;
   z-index: 32;
   text-align: left;
}
#Layer6
{
   position: fixed;
   text-align: left;
   visibility: hidden;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 94;
}
#wb_Text9
{
   position: absolute;
   left: 63px;
   top: 210px;
   width: 325px;
   height: 36px;
   visibility: hidden;
   z-index: 26;
   text-align: left;
}
#wb_Text23
{
   position: absolute;
   left: 20px;
   top: 17px;
   width: 250px;
   height: 87px;
   visibility: hidden;
   z-index: 76;
   text-align: left;
}
#Layer16
{
   position: absolute;
   text-align: left;
   visibility: hidden;
   left: 0px;
   top: 437px;
   width: 294px;
   height: 142px;
   z-index: 81;
}
#RollOver11
{
   position: absolute;
   left: 195px;
   bottom: 4px;
   overflow: hidden;
   visibility: hidden;
   width: 33px;
   height: 32px;
   z-index: 39;
}
#wb_Text12
{
   position: absolute;
   left: 63px;
   top: 96px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   z-index: 33;
   text-align: left;
}
#Layer7
{
   position: absolute;
   text-align: left;
   visibility: hidden;
   left: 0px;
   top: 544px;
   width: 687px;
   height: 222px;
   z-index: 23;
}
#Layer17
{
   position: absolute;
   text-align: left;
   visibility: hidden;
   left: 0px;
   top: 0px;
   width: 295px;
   height: 218px;
   z-index: 82;
}
#RollOver12
{
   position: absolute;
   right: 50px;
   bottom: 4px;
   overflow: hidden;
   visibility: hidden;
   width: 33px;
   height: 32px;
   z-index: 40;
}
#wb_Text13
{
   position: absolute;
   left: 63px;
   top: 210px;
   width: 325px;
   height: 36px;
   visibility: hidden;
   z-index: 35;
   text-align: left;
}
#Layer8
{
   position: absolute;
   text-align: left;
   visibility: hidden;
   left: 0px;
   top: 0px;
   width: 687px;
   height: 350px;
   z-index: 93;
}
#RollOver13
{
   position: absolute;
   left: 41px;
   top: 176px;
   overflow: hidden;
   visibility: hidden;
   width: 25px;
   height: 25px;
   z-index: 55;
}
#Layer9
{
   position: fixed;
   text-align: left;
   visibility: hidden;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 95;
}
#wb_Text14
{
   position: absolute;
   left: 63px;
   top: 101px;
   width: 250px;
   height: 102px;
   visibility: hidden;
   z-index: 36;
   text-align: left;
}
#RollOver14
{
   position: absolute;
   left: 91px;
   top: 176px;
   overflow: hidden;
   visibility: hidden;
   width: 25px;
   height: 25px;
   z-index: 56;
}
#wb_Text15
{
   position: absolute;
   left: 19px;
   top: 52px;
   width: 240px;
   height: 30px;
   visibility: hidden;
   z-index: 52;
   text-align: left;
}
#RollOver15
{
   position: absolute;
   left: 150px;
   top: 176px;
   overflow: hidden;
   visibility: hidden;
   width: 25px;
   height: 25px;
   z-index: 57;
}
#wb_Text16
{
   position: absolute;
   left: 20px;
   top: 88px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   z-index: 53;
   text-align: left;
}
#RollOver16
{
   position: absolute;
   left: 207px;
   top: 176px;
   overflow: hidden;
   visibility: hidden;
   width: 25px;
   height: 25px;
   z-index: 58;
}
#wb_Text17
{
   position: absolute;
   left: 20px;
   top: 110px;
   width: 271px;
   height: 32px;
   visibility: hidden;
   z-index: 54;
   text-align: left;
}
#RollOver1
{
   position: absolute;
   right: 56px ;
   top: 117px ;
   overflow: hidden;
   width: 33px;
   height: 32px;
   z-index: 5;
}
#RollOver17
{
   position: absolute;
   left: 41px;
   top: 176px;
   overflow: hidden;
   visibility: hidden;
   width: 25px;
   height: 25px;
   z-index: 77;
}
#wb_Text18
{
   position: absolute;
   left: 20px;
   top: 17px;
   width: 250px;
   height: 87px;
   visibility: hidden;
   z-index: 59;
   text-align: left;
}
#RollOver2
{
   position: absolute;
   right: 57px ;
    top: 165px ;
   overflow: hidden;
   width: 33px;
   height: 32px;
   z-index: 6;
}
.progress {
          position: absolute;
          top: 35%;
          left: 5%;
          background: grey;
          width: 15vw;
          display: none;
      }
      
      .progress .full {
          
          background: #D84C2B;
          height: .3em;
          transform-origin: top left;
      }
     

      .loading {
          position: absolute;
          left: 40%;
          top: 500%;
          color: #E7E7E7FF;
          font-size: 20px;
          font-family: "Arial";
      }
      p#loadingInfo  {
          position: absolute;
          left: 12%;
          top: 27%;
          color: #D84C2B;
          font-size: 25px;
      }

      #loader {
        position: absolute;
        left: 0;
        top: 18%;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
@media only screen and (max-width: 768px) and (orientation: portrait)
{
   .text-content1{
       
          padding-top:55%;
       
                      
            }
    .progress {
 
          width: 50vw;
         
      }
        p#loadingInfo  {
      
          left: 25%;
      
      }
#Layer1
{
   visibility: hidden;
   display: none;
}
#wb_Text1
{
   left: 63px;
   top: 101px;
   width: 250px;
   height: 102px;
   visibility: hidden;
   display: none;
}
#wb_Text2
{
   left: 63px;
   top: 210px;
   width: 325px;
   height: 36px;
   visibility: hidden;
   display: none;
}
#wb_Text3
{
   left: 63px;
   top: 72px;
   width: 325px;
   height: 15px;
   visibility: hidden;
   display: none;
}
#wb_Text4
{
   left: 63px;
   top: 96px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#wb_Text5
{
   left: 389px;
   top: 45px;
   width: 210px;
   height: 56px;
   visibility: hidden;
   display: none;
}
#Layer2
{
   width: 605px;
   height: 222px;
   visibility: hidden;
   display: none;
}
#Layer3
{
   width: 687px;
   height: 222px;
   visibility: hidden;
   display: none;
}
#socialicons{
	display:none;
}
#Layer4
{
   width: 687px;
   height: 350px;
   visibility: hidden;
   display: none;
}
#RollOver1
{
   right: 56px ;
   top: 117px ;
   width: 33px;
   height: 32px;

}
#RollOver2
{
   right: 57px ;
    top: 165px ;
   width: 33px;
   height: 32px;

}
#RollOver3
{
  right: 50px ;
  top: 217px ;
   width: 33px;
   height: 32px;

}
#RollOver4
{
   right: 50px ;
   top: 300px ;
   width: 33px;
   height: 32px;

}
#Layer5
{
   visibility: hidden;
   display: none;
}
#Layer7
{
   width: 687px;
   height: 222px;
   visibility: hidden;
   display: none;
}
#wb_Text7
{
   left: 63px;
   top: 72px;
   width: 325px;
   height: 15px;
   visibility: hidden;
   display: none;
}
#wb_Text8
{
   left: 63px;
   top: 96px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#Layer8
{
   width: 687px;
   height: 350px;
   visibility: hidden;
   display: none;
}
#wb_Text9
{
   left: 63px;
   top: 210px;
   width: 325px;
   height: 36px;
   visibility: hidden;
   display: none;
}
#wb_Text10
{
   left: 63px;
   top: 101px;
   width: 250px;
   height: 102px;
   visibility: hidden;
   display: none;
}
#RollOver5
{
   left: 86px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver6
{
   left: 137px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver7
{
   left: 195px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver8
{
   right: 50px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#Layer6
{
   visibility: visible;
   display: inline;
}
#wb_Text6
{
   left: 451px;
   top: 64px;
   width: 195px;
   height: 56px;
   visibility: visible;
   display: inline;
}
#Layer10
{
   width: 687px;
   height: 222px;
   visibility: visible;
   display: inline;
}
#wb_Text11
{
   left: 63px;
   top: 72px;
   width: 325px;
   height: 15px;
   visibility: visible;
   display: inline;
}
#wb_Text12
{
   left: 63px;
   top: 96px;
   width: 160px;
   height: 30px;
   visibility: visible;
   display: inline;
}
#Layer11
{
   width: 687px;
   height: 350px;
   visibility: visible;
   display: inline;
}
#wb_Text13
{
   left: 63px;
   top: 210px;
   width: 325px;
   height: 36px;
   visibility: visible;
   display: inline;
}
#wb_Text14
{
   left: 63px;
   top: 101px;
   width: 250px;
   height: 102px;
   visibility: visible;
   display: inline;
}
#RollOver9
{
   left: 86px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: visible;
   display: inline;
}
#RollOver10
{
   left: 137px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: visible;
   display: inline;
}
#RollOver11
{
   left: 195px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: visible;
   display: inline;
}
#RollOver12
{
   right: 50px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: visible;
   display: inline;
}
#Layer9
{
   visibility: hidden;
   display: none;
}
#Layer12
{
   width: 294px;
   height: 100px;
   visibility: hidden;
   display: none;
}
#wb_Text15
{
   left: 19px;
   top: 10px;
   width: 240px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#wb_Text16
{
   left: 20px;
   top: 46px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#Layer13
{
   width: 295px;
   height: 169px;
   visibility: hidden;
   display: none;
}
#wb_Text17
{
   left: 22px;
   top: 82px;
   width: 271px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#wb_Text18
{
   left: 20px;
   top: 17px;
   width: 268px;
   height: 58px;
   visibility: hidden;
   display: none;
}
#RollOver13
{
   left: 43px;
   top: 133px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   display: none;
}
#RollOver14
{
   left: 93px;
   top: 133px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   display: none;
}
#RollOver15
{
   left: 152px;
   top: 133px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   display: none;
}
#RollOver16
{
   left: 209px;
   top: 133px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   display: none;
}
}
@media only screen and (max-width: 768px) and (orientation: landscape)
{
#Layer1
{
   visibility: hidden;
   display: none;
}
#wb_Text1
{
   left: 63px;
   top: 101px;
   width: 250px;
   height: 102px;
   visibility: hidden;
   display: none;
}
#wb_Text2
{
   left: 63px;
   top: 210px;
   width: 325px;
   height: 36px;
   visibility: hidden;
   display: none;
}
#wb_Text3
{
   left: 63px;
   top: 72px;
   width: 325px;
   height: 15px;
   visibility: hidden;
   display: none;
}
#wb_Text4
{
   left: 63px;
   top: 96px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#wb_Text5
{
   left: 389px;
   top: 45px;
   width: 210px;
   height: 56px;
   visibility: hidden;
   display: none;
}
#Layer2
{
   width: 605px;
   height: 222px;
   visibility: hidden;
   display: none;
}
#Layer3
{
   width: 687px;
   height: 222px;
   visibility: hidden;
   display: none;
}
#Layer4
{
   width: 687px;
   height: 350px;
   visibility: hidden;
   display: none;
}
#RollOver1
{
   right: 56px ;
   top: 117px ;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver2
{
   right: 57px ;
    top: 165px ;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver3
{
  right: 50px ;
  top: 217px ;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver4
{
   right: 50px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#Layer5
{
   visibility: hidden;
   display: none;
}
#Layer7
{
   width: 687px;
   height: 222px;
   visibility: hidden;
   display: none;
}
#wb_Text7
{
   left: 63px;
   top: 72px;
   width: 325px;
   height: 15px;
   visibility: hidden;
   display: none;
}
#wb_Text8
{
   left: 63px;
   top: 96px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#Layer8
{
   width: 687px;
   height: 350px;
   visibility: hidden;
   display: none;
}
#wb_Text9
{
   left: 63px;
   top: 210px;
   width: 325px;
   height: 36px;
   visibility: hidden;
   display: none;
}
#wb_Text10
{
   left: 63px;
   top: 101px;
   width: 250px;
   height: 102px;
   visibility: hidden;
   display: none;
}
#RollOver5
{
   left: 86px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver6
{
   left: 137px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver7
{
   left: 195px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver8
{
   right: 50px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#Layer6
{
   visibility: hidden;
   display: none;
}
#wb_Text6
{
   left: 1064px;
   top: 45px;
   width: 188px;
   height: 56px;
   visibility: hidden;
   display: none;
}
#Layer10
{
   width: 687px;
   height: 222px;
   visibility: hidden;
   display: none;
}
#wb_Text11
{
   left: 63px;
   top: 72px;
   width: 325px;
   height: 15px;
   visibility: hidden;
   display: none;
}
#wb_Text12
{
   left: 63px;
   top: 96px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#Layer11
{
   width: 687px;
   height: 350px;
   visibility: hidden;
   display: none;
}
#wb_Text13
{
   left: 63px;
   top: 210px;
   width: 325px;
   height: 36px;
   visibility: hidden;
   display: none;
}
#wb_Text14
{
   left: 63px;
   top: 101px;
   width: 250px;
   height: 102px;
   visibility: hidden;
   display: none;
}
#RollOver9
{
   left: 86px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver10
{
   left: 137px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver11
{
   left: 195px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver12
{
   right: 50px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#Layer9
{
   visibility: visible;
   display: inline;
}
#Layer12
{
   width: 294px;
   height: 382px;
   visibility: visible;
   display: inline;
}
#wb_Text15
{
   left: 19px;
   top: 292px;
   width: 240px;
   height: 30px;
   visibility: visible;
   display: inline;
}
#wb_Text16
{
   left: 20px;
   top: 328px;
   width: 160px;
   height: 30px;
   visibility: visible;
   display: inline;
}
#Layer13
{
   width: 295px;
   height: 169px;
   visibility: visible;
   display: inline;
}
#wb_Text17
{
   left: 22px;
   top: 82px;
   width: 271px;
   height: 32px;
   visibility: visible;
   display: inline;
}
#wb_Text18
{
   left: 20px;
   top: 17px;
   width: 268px;
   height: 58px;
   visibility: visible;
   display: inline;
}
#RollOver13
{
   left: 43px;
   top: 133px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#RollOver14
{
   left: 93px;
   top: 133px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#RollOver15
{
   left: 152px;
   top: 133px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#RollOver16
{
   left: 209px;
   top: 133px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#Layer14
{
   width: 283px;
   height: 134px;
   visibility: visible;
   display: inline;
}
#wb_Text19
{
   left: 67px;
   top: 45px;
   width: 188px;
   height: 56px;
   visibility: visible;
   display: inline;
}
}
@media only screen and (max-width: 480px) and (orientation: portrait)
{
#Layer1
{
   visibility: hidden;
   display: none;
}
#wb_Text1
{
   left: 63px;
   top: 101px;
   width: 250px;
   height: 102px;
   visibility: hidden;
   display: none;
}
#wb_Text2
{
   left: 63px;
   top: 210px;
   width: 325px;
   height: 36px;
   visibility: hidden;
   display: none;
}
#wb_Text3
{
   left: 63px;
   top: 72px;
   width: 325px;
   height: 15px;
   visibility: hidden;
   display: none;
}
#wb_Text4
{
   left: 63px;
   top: 96px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#wb_Text5
{
   left: 389px;
   top: 45px;
   width: 210px;
   height: 56px;
   visibility: hidden;
   display: none;
}
#Layer2
{
   width: 605px;
   height: 222px;
   visibility: hidden;
   display: none;
}
#Layer3
{
   width: 687px;
   height: 222px;
   visibility: hidden;
   display: none;
}
#Layer4
{
   width: 687px;
   height: 350px;

}
#RollOver1
{
   right: 56px ;
   top: 117px ;
   width: 33px;
   height: 32px;

}
#RollOver2
{
   right: 57px ;
    top: 165px ;
   width: 33px;
   height: 32px;

}
#RollOver3
{
  right: 50px ;
  top: 217px ;
   width: 33px;
   height: 32px;

}
#RollOver4
{
   right: 50px;
   bottom: 4px;
   width: 33px;
   height: 32px;

}
#Layer5
{
   visibility: hidden;
   display: none;
}
#Layer7
{
   width: 687px;
   height: 222px;
   visibility: hidden;
   display: none;
}
#wb_Text7
{
   left: 63px;
   top: 72px;
   width: 325px;
   height: 15px;
   visibility: hidden;
   display: none;
}
#wb_Text8
{
   left: 63px;
   top: 96px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#Layer8
{
   width: 687px;
   height: 350px;
   visibility: hidden;
   display: none;
}
#wb_Text9
{
   left: 63px;
   top: 210px;
   width: 325px;
   height: 36px;
   visibility: hidden;
   display: none;
}
#wb_Text10
{
   left: 63px;
   top: 101px;
   width: 250px;
   height: 102px;
   visibility: hidden;
   display: none;
}
#RollOver5
{
   left: 86px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver6
{
   left: 137px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver7
{
   left: 195px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver8
{
   right: 50px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#Layer6
{
   visibility: hidden;
   display: none;
}
#wb_Text6
{
   left: 1064px;
   top: 45px;
   width: 188px;
   height: 56px;
   visibility: hidden;
   display: none;
}
#Layer10
{
   width: 687px;
   height: 222px;
   visibility: hidden;
   display: none;
}
#wb_Text11
{
   left: 63px;
   top: 72px;
   width: 325px;
   height: 15px;
   visibility: hidden;
   display: none;
}
#wb_Text12
{
   left: 63px;
   top: 96px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#Layer11
{
   width: 687px;
   height: 350px;
   visibility: hidden;
   display: none;
}
#wb_Text13
{
   left: 63px;
   top: 210px;
   width: 325px;
   height: 36px;
   visibility: hidden;
   display: none;
}
#wb_Text14
{
   left: 63px;
   top: 101px;
   width: 250px;
   height: 102px;
   visibility: hidden;
   display: none;
}
#RollOver9
{
   left: 86px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver10
{
   left: 137px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver11
{
   left: 195px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver12
{
   right: 50px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#Layer9
{
   visibility: hidden;
   display: none;
}
#Layer12
{
   width: 294px;
   height: 142px;
   visibility: hidden;
   display: none;
}
#wb_Text15
{
   left: 19px;
   top: 52px;
   width: 240px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#wb_Text16
{
   left: 20px;
   top: 88px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#Layer13
{
   width: 295px;
   height: 218px;
   visibility: hidden;
   display: none;
}
#wb_Text17
{
   left: 20px;
   top: 110px;
   width: 271px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#wb_Text18
{
   left: 20px;
   top: 17px;
   width: 250px;
   height: 87px;
   visibility: hidden;
   display: none;
}
#RollOver13
{
   left: 41px;
   top: 176px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   display: none;
}
#RollOver14
{
   left: 91px;
   top: 176px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   display: none;
}
#RollOver15
{
   left: 150px;
   top: 176px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   display: none;
}
#RollOver16
{
   left: 207px;
   top: 176px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   display: none;
}
#Layer14
{
   width: 605px;
   height: 222px;
   visibility: hidden;
   display: none;
}
#wb_Text19
{
   left: 389px;
   top: 45px;
   width: 188px;
   height: 56px;
   visibility: hidden;
   display: none;
}
#Layer15
{
   visibility: visible;
   display: inline;
}
#Layer16
{
   width: 326px;
   height: 142px;
   visibility: visible;
   display: inline;
}
#wb_Text20
{
   left: 51px;
   top: 52px;
   width: 240px;
   height: 30px;
   visibility: visible;
   display: inline;
}
#wb_Text21
{
   left: 52px;
   top: 88px;
   width: 160px;
   height: 30px;
   visibility: visible;
   display: inline;
}
#Layer17
{
   width: 325px;
   height: 218px;
   visibility: visible;
   display: inline;
}
#wb_Text22
{
   left: 50px;
   top: 110px;
   width: 271px;
   height: 32px;
   visibility: visible;
   display: inline;
}
#wb_Text23
{
   left: 50px;
   top: 17px;
   width: 250px;
   height: 87px;
   visibility: visible;
   display: inline;
}
#RollOver17
{
   left: 71px;
   top: 176px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#RollOver18
{
   left: 121px;
   top: 176px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#RollOver19
{
   left: 180px;
   top: 176px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#RollOver20
{
   left: 237px;
   top: 176px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
}
.progress {
          position: absolute;
          top: 50%;
          left: 3%;
          background: grey;
          width: 91vw;
          display: none;
      }
      
      .progress .full {
          
          background: #D84C2B;
          height: .3em;
          transform-origin: top left;
      }
     

      .loading {
          position: absolute;
          left: 40%;
          top: 500%;
          color: #E7E7E7FF;
          font-size: 20px;
          font-family: "Arial";
      }
      p#loadingInfo  {
          position: absolute;
          left: 40%;
          top: 41%;
          color: #D84C2B;
          font-size: 25px;
      }

      #loader {
        position: absolute;
        left: 0;
        top: 10%;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
}
@media only screen and (max-width: 320px) and (orientation: portrait)
{
#Layer1
{
   visibility: hidden;
   display: none;
}
#wb_Text1
{
   left: 63px;
   top: 101px;
   width: 250px;
   height: 102px;
   visibility: hidden;
   display: none;
}
#wb_Text2
{
   left: 63px;
   top: 210px;
   width: 325px;
   height: 36px;
   visibility: hidden;
   display: none;
}
#wb_Text3
{
   left: 63px;
   top: 72px;
   width: 325px;
   height: 15px;
   visibility: hidden;
   display: none;
}
#wb_Text4
{
   left: 63px;
   top: 96px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#wb_Text5
{
   left: 389px;
   top: 45px;
   width: 210px;
   height: 56px;
   visibility: hidden;
   display: none;
}
#Layer2
{
   width: 605px;
   height: 222px;
   visibility: hidden;
   display: none;
}
#Layer3
{
   width: 687px;
   height: 222px;
   visibility: hidden;
   display: none;
}
#Layer4
{
   width: 687px;
   height: 350px;
   visibility: hidden;
   display: none;
}
#RollOver1
{
   right: 50px;
   top: 130px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver2
{
   right: 50px;
   top: 190px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver3
{
   right: 50px;
   top: 250px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver4
{
   right: 50px;
   top: 300px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#Layer5
{
   visibility: visible;
   display: inline;
}
#Layer7
{
   width: 294px;
   height: 142px;
   visibility: visible;
   display: inline;
}
#wb_Text7
{
   left: 19px;
   top: 52px;
   width: 240px;
   height: 30px;
   visibility: visible;
   display: inline;
}
#wb_Text8
{
   left: 20px;
   top: 88px;
   width: 160px;
   height: 30px;
   visibility: visible;
   display: inline;
}
#Layer8
{
   width: 295px;
   height: 218px;
   visibility: visible;
   display: inline;
}
#wb_Text9
{
   left: 20px;
   top: 110px;
   width: 271px;
   height: 32px;
   visibility: visible;
   display: inline;
}
#wb_Text10
{
   left: 20px;
   top: 17px;
   width: 250px;
   height: 87px;
   visibility: visible;
   display: inline;
}
#RollOver5
{
   left: 41px;
   top: 176px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#RollOver6
{
   left: 91px;
   top: 176px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#RollOver7
{
   left: 150px;
   top: 176px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#RollOver8
{
   left: 207px;
   top: 176px;
   width: 25px;
   height: 25px;
   visibility: visible;
   display: inline;
}
#Layer6
{
   visibility: hidden;
   display: none;
}
#wb_Text6
{
   left: 474px;
   top: 65px;
   width: 188px;
   height: 56px;
   visibility: hidden;
   display: none;
}
#Layer10
{
   width: 687px;
   height: 222px;
   visibility: hidden;
   display: none;
}
#wb_Text11
{
   left: 63px;
   top: 72px;
   width: 325px;
   height: 15px;
   visibility: hidden;
   display: none;
}
#wb_Text12
{
   left: 63px;
   top: 96px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#Layer11
{
   width: 687px;
   height: 350px;
   visibility: hidden;
   display: none;
}
#wb_Text13
{
   left: 63px;
   top: 210px;
   width: 325px;
   height: 36px;
   visibility: hidden;
   display: none;
}
#wb_Text14
{
   left: 63px;
   top: 101px;
   width: 250px;
   height: 102px;
   visibility: hidden;
   display: none;
}
#RollOver9
{
   left: 86px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver10
{
   left: 137px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver11
{
   left: 195px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#RollOver12
{
   right: 50px;
   bottom: 4px;
   width: 33px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#Layer9
{
   visibility: hidden;
   display: none;
}
#Layer12
{
   width: 294px;
   height: 100px;
   visibility: hidden;
   display: none;
}
#wb_Text15
{
   left: 19px;
   top: 10px;
   width: 240px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#wb_Text16
{
   left: 20px;
   top: 46px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#Layer13
{
   width: 295px;
   height: 169px;
   visibility: hidden;
   display: none;
}
#wb_Text17
{
   left: 22px;
   top: 82px;
   width: 271px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#wb_Text18
{
   left: 20px;
   top: 17px;
   width: 268px;
   height: 58px;
   visibility: hidden;
   display: none;
}
#RollOver13
{
   left: 43px;
   top: 133px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   display: none;
}
#RollOver14
{
   left: 93px;
   top: 133px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   display: none;
}
#RollOver15
{
   left: 152px;
   top: 133px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   display: none;
}
#RollOver16
{
   left: 209px;
   top: 133px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   display: none;
}
#Layer14
{
   width: 605px;
   height: 222px;
   visibility: hidden;
   display: none;
}
#wb_Text19
{
   left: 389px;
   top: 45px;
   width: 188px;
   height: 56px;
   visibility: hidden;
   display: none;
}
#Layer15
{
   visibility: hidden;
   display: none;
}
#Layer16
{
   width: 326px;
   height: 142px;
   visibility: hidden;
   display: none;
}
#wb_Text20
{
   left: 51px;
   top: 52px;
   width: 240px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#wb_Text21
{
   left: 52px;
   top: 88px;
   width: 160px;
   height: 30px;
   visibility: hidden;
   display: none;
}
#Layer17
{
   width: 325px;
   height: 218px;
   visibility: hidden;
   display: none;
}
#wb_Text22
{
   left: 50px;
   top: 110px;
   width: 271px;
   height: 32px;
   visibility: hidden;
   display: none;
}
#wb_Text23
{
   left: 50px;
   top: 17px;
   width: 250px;
   height: 87px;
   visibility: hidden;
   display: none;
}
#RollOver17
{
   left: 71px;
   top: 176px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   display: none;
}
#RollOver18
{
   left: 121px;
   top: 176px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   display: none;
}
#RollOver19
{
   left: 180px;
   top: 176px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   display: none;
}
#RollOver20
{
   left: 237px;
   top: 176px;
   width: 25px;
   height: 25px;
   visibility: hidden;
   display: none;
}
}
